@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #311D3F;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #6e1732;
}

span {
    transition: .5s;
}
span:hover {
    color: #311D3F;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
    gap: 20px;
    background-color: #E23E57;
}

.title {
    color: #311D3F;
}
.img {
    width: 20px;
    height: 20px;
}
